{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li class="active">List by size</li>
</ol>
{% endblock %}

{% block content %}      
                    
    <div class="jumbotron">
        <div class="container">
            <h1>File metadata cleanup drive</h1>
            
              <p>The <a href="https://meta.wikimedia.org/wiki/File_metadata_cleanup_drive" title="File metadata cleanup drive">File metadata cleanup drive</a> is an effort started in September 2014 by the Wikimedia Foundation. Its goal is to fix file description pages and tweak templates to ensure that multimedia files consistently contain machine-readable metadata across Wikimedia wikis.</p>
                
            <p><a class="btn btn-primary btn-lg pull-right" role="button" href="https://meta.wikimedia.org/wiki/Special:MyLanguage/File_metadata_cleanup_drive/How_to_fix_metadata">See how to fix the pages &raquo;</a></p>
                

        </div>
    </div>
    
    <div class="container">

        <div class="panel-group" id="accordion">

                {% for wiki in tallies %}
                   
                        <div id="{{ wiki['prefix'] }}.{{ wiki['family'] }}" class="row">
                            <a title="Open page for {{ wiki['prefix'] }}.{{wiki['family']}}" href="{{ wiki['family'] }}/{{ wiki['prefix'] }}/index.html">
                            <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">
                                {{ wiki['prefix'] }}.{{ wiki['family'] }}
                            </div>
                            <div class="col-xs-12 col-sm-10 col-md-11 col-lg-11">
                                <div class="progress">
                                    <div class="progress-bar"
                                        style="width: {{ wiki['percentage_ok'] }}%">
                                        <span>{{ wiki['percentage_ok']}}% complete</span>
                                    </div>
                                    <div class="progress-bar progress-bar-invisible"
                                    style="width: {{ 100 - wiki['percentage_ok'] }}%">
                                        <span>{{ wiki['number_of_files_with_missing_mrd']|format_number }} {{ 'files' if ( wiki['number_of_files_with_missing_mrd'] > 1) else 'file' }} to go</span>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                   
                {% endfor %}
                
        </div>  
        
    </div>

{% endblock %}